{% load static %}

<nav class="navbar">
  <div class="navbar-container">

    <!-- LEFT: Logo -->
    <div class="navbar-brand">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           width="30"
           height="30"
           fill="none">
        <defs>
          <linearGradient id="logoGradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#ec4899" />
            <stop offset="100%" stop-color="#c084fc" />
          </linearGradient>
        </defs>

        <path stroke="url(#logoGradient)"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
      </svg>
      <span class="navbar-title">Captrix</span>
    </div>

    <!-- CENTER: Navigation Links -->
    <ul class="navbar-center">
      <li><a href="{% url 'welcome' %}">Welcome</a></li>  
      <li><a href="{% url 'welcome' %}#features-title">Features</a></li>
      <li><a href="{% url 'w_about' %}"target = "blank">About</a></li>
    </ul>

    <!-- RIGHT: Auth Links -->
    <ul class="navbar-links">
      <li><a href="{% url 'login' %}" class="signin">Sign In</a></li>
      <li>
        <a href="{% url 'signup' %}" class="get-started-btn">Get Started</a>
      </li>
    </ul>
    <!-- Hamburger Menu Button -->
    <div class="hamburger" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <script>
  function toggleMenu() {
    document.querySelector(".navbar-center").classList.toggle("active");
  }
</script>
</nav>